<div class="form d-inline-block">
    <h3>Submit a movie and add your review</h3>
    <form (submit)="movieSubmit()">
      <div class="form-group">
        <label>Movie Title:</label>
        <input type="text" class="form-control" name="newMovie.movie_title" [(ngModel)]="newMovie.movie_title"
          placeholder="Enter title" required minlength="3" #movie_title="ngModel">
        <div *ngIf="movie_title.invalid && (movie_title.dirty || movie_title.touched)" class="alert alert-danger">
          <span *ngIf="movie_title.errors.required">
              Title is required.
          </span>
          <span *ngIf="movie_title.errors.minlength">
              Title must be at least 3 characters long.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Your Name:</label>
        <input type="text" class="form-control" name="newMovie.ratings.name" [(ngModel)]="newMovie.ratings.name"
          placeholder="Enter name" required minlength="3" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <span *ngIf="name.errors.required">
              Name is required.
          </span>
          <span *ngIf="name.errors.minlength">
              Name must be at least 3 characters long.
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>Stars:</label>
        <select class="form-control" id="exampleFormControlSelect1" name="newMovie.ratings.rating"
          [(ngModel)]="newMovie.ratings.rating" required #rating="ngModel">
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
        <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="alert alert-danger">
          <span *ngIf="rating.errors.required">
              Rating is required.
          </span>
      </div>
      </div>
      <div class="form-group">
        <label>Your Review:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="newMovie.ratings.review"
          [(ngModel)]="newMovie.ratings.review" placeholder=" Type your comment here" required minlength="3
          " #review="ngModel"></textarea>
          <div *ngIf="review.invalid && (review.dirty || review.touched)" class="alert alert-danger">
            <span *ngIf="review.errors.required">
                Review is required.
            </span>
            <span *ngIf="review.errors.minlength">
                Review must be at least 3 characters long.
            </span>
        </div>
      </div>
      <input type="submit" value="Submit">
      <button class="button btn btn-danger" [routerLink]="['/movies']">Cancel</button>
    </form>
  </div>
