<div class="form d-inline-block">
    <h3>Add a review for {{movie.movie_title}}</h3>
    <form (submit)="ratingSubmit(movie._id)">
      <div class="form-group">
        <label>Your Name:</label>
        <input type="text" class="form-control" name="newRating.name" [(ngModel)]="newRating.name"
          placeholder="Enter name" required minlength="3" #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <span *ngIf="name.errors.required">
                Name is required.
            </span>
            <span *ngIf="name.errors.minlength">
                Name must be at least 3 characters long.
            </span>
        </div>
      </div>
      <label>Rating:</label>
      <div class="form-group">
        <label>Stars:</label>
        <select class="form-control" id="exampleFormControlSelect1" name="newRating.rating"
          [(ngModel)]="newRating.rating" required #rating="ngModel">
          <option value="1">1 star</option>
          <option value="2">2 stars</option>
          <option value="3">3 stars</option>
          <option value="4">4 stars</option>
          <option value="5">5 stars</option>
        </select>
        <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="alert alert-danger">
            <span *ngIf="rating.errors.required">
                Rating is required.
            </span>
        </div>
      </div>
      <div class="form-group">
        <label>Your Review:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="newRating.review"
          [(ngModel)]="newRating.review" required minlength="4" #review="ngModel" placeholder=" Type your comment here"></textarea>
        <div *ngIf="review.invalid && (review.dirty || review.touched)" class="alert alert-danger">
            <span *ngIf="review.errors.required">
                Review is required.
            </span>
            <span *ngIf="review.errors.minlength">
                Review must be at least 3 characters long.
            </span>
        </div>
      </div>
      <button type="submit" [disabled]='name.invalid' class="btn btn-primary">Submit Review</button>
      <button class="button btn btn-danger" [routerLink]="['/movies']">Cancel</button>
    </form>
  </div>
